/*=================================================*/
/*SIMPLE CSS MODIFICATION TO SEPARATE EACH TABLE*/
/*=================================================*/
.bg-warning, .table-head h4{
		cursor: pointer;
		-webkit-user-select: none;
	 	-moz-user-select: none;
	 	-ms-user-select: none;
	 	-o-user-select: none;
	 	user-select: none;
	}
	
.detail-header {
	margin-top: 20px;
}


.total-second, .total-first{
	margin-bottom: 25px;
}

.detail2-total h5 {
	font-weight: bold;
}

#footer {
	margin-top: 80px;
}

/*=================================================*/
/*=================================================*/
