/*=================================================*/
/*SIMPLE CSS MODIFICATION TO SEPARATE EACH TABLE*/
/*=================================================*/

.detail-header {
	margin-top: 20px;
}


.total-second, .total-first{
	margin-bottom: 25px;
}

.detail2-total h5 {
	font-weight: bold;
}

#footer {
	margin-top: 80px;
}

/*=================================================*/
/*=================================================*/
